<!-- eslint-disable max-len -->
<div class="container mx-auto py-4">
    <div 
        *ngIf="book; else noBook" 
        class="mb-8 flex flex-row border border-solid border-slate-200 px-4 dark:border-slate-50/[0.06]"
    >
        <div class="basis-5/12">
            <img src="{{book.id | bookId2ImgUrl}}" />
        </div>
        <div class="flex-auto pt-3">
            <h2 class="mb-8 text-center text-2xl font-bold underline underline-offset-8">{{book.title}}</h2>

            <div class="mb-4">
                <div class="float-left mr-2.5">
                    <ng-container i18n>作者</ng-container>
                    :
                </div>
                <div>{{book.author}}</div>
            </div>

            <div class="mb-4">
                <div class="float-left mr-2.5">
                    <ng-container i18n>语言</ng-container>
                    :
                </div>
                <div>{{book.language}}</div>
            </div>

            <div class="mb-4">
                <div class="float-left mr-2.5">
                    <ng-container i18n>出版年份</ng-container>
                    :
                </div>
                <div>{{book.publishYear}}</div>
            </div>

            <div class="mb-4" *ngIf="book.programLanguage">
                <div class="float-left mr-2.5">
                    <ng-container i18n>编程语言</ng-container>
                    :
                </div>
                <div>{{book.programLanguage}}</div>
            </div>

        </div>
    </div>

    <ng-template #noBook>
        <div *ngIf="loading; else notFound">Loading</div>
        <ng-template #notFound>Not Found</ng-template>
    </ng-template>


    <div class="border border-solid border-slate-200 dark:border-slate-50/[0.06]">
        <div 
            class="mb-1 flex flex-row justify-between border-b border-solid border-slate-200 py-1 pl-6 shadow dark:border-slate-50/[0.06]"
        >
            <span i18n>相关推荐</span>
        </div>
        <ul class="grid grid-cols-2 gap-4 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8">
            <li *ngFor="let book of books$ | async" class="my-3">
                <a routerLink="/book/e_book/{{book.id}}">
                    <img src="{{book.id | bookId2ImgUrl}}" />
                </a>
                <div class="mt-2 text-center text-xs">{{book.title}}</div>
            </li>
        </ul>
    </div>


</div>

