<div class="container mx-auto py-4 px-8">
    <div >
        <div 
            *ngFor="let book of books | paginate: { itemsPerPage: 10, currentPage: currentPage }" 
            class="mb-4 flex flex-row border border-solid border-slate-200 dark:border-slate-50/[0.06]"
            data-testcls="book-list-item"
        >
            <div class="w-32">
                <img src="{{book.id | bookId2ImgUrl}}" />
            </div>
            <div class="flex-auto pt-4 pl-4 text-base">
                <div class="mb-2">
                    <div class="float-left mr-2 text-slate-400">
                        <ng-container i18n>书名</ng-container>
                        :
                    </div>
                    <div class="font-bold">
                        <a routerLink="/book/e_book/{{book.id}}" class="cursor-pointer text-sky-500">{{book.title}}</a>
                    </div>
                </div>

                <div class="mb-2">
                    <div class="float-left mr-2 text-slate-400">
                        <ng-container i18n>作者</ng-container>
                        :
                    </div>
                    <div class="font-medium">{{book.author}}</div>
                </div>

                <div class="mb-2">
                    <div class="float-left mr-2 text-slate-400">
                        <ng-container i18n>语言</ng-container>
                        :
                    </div>
                    <div class="font-medium">{{book.language}}</div>
                </div>

                <div class="mb-2">
                    <div class="float-left mr-2 text-slate-400">
                        <ng-container i18n>出版年份</ng-container>
                        :
                    </div>
                    <div class="font-medium">{{book.publishYear}}</div>
                </div>
            </div>
        </div>
    </div>

    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>
