@tailwind base;
@tailwind components;
@tailwind utilities;

.ngx-pagination {
    display: flex;
    justify-content: center;
}

.dark .ngx-pagination a {
    color: #fff;
}

.dark .ngx-pagination a:hover {
    color: #0a0a0a;
}
