<div class="container mx-auto py-4">
    <div class="border border-solid border-slate-200">
        <div class="mb-1 border-b border-solid border-slate-200 py-1 pl-6 shadow">分类</div>
        <ul>
            <li *ngFor="let category of categories" class="mb-1.5 flex flex-row pl-6">
                <div class="my-1.5 flex-none basis-24">{{ category.label }}</div>
                <div>
                    <ul class="flex flex-row flex-wrap">
                        <li *ngFor="let tag of category.tags" class="my-1.5 border-l border-solid border-slate-400 px-2">
                            <a routerLink="{{ tag.url }}" class="text-sky-500">{{ tag.label }}</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
